<div class="col-md-12">
  <div class="job">

  </div>
  <div class="dropdown pull-right">
    <br>
    <br>
    <br>
     <button class="btn btn-warning" type="button" data-toggle="dropdown" pull-right>排序
       <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
       <a href="/jobs?order=by_lower_bound">按照薪资下限排序</a>
      </li>
      <li>
       <a href="/jobs?order=by_upper_bound">按照薪资上限排序</a>
      </li>
      <li>
       <a href="/jobs">按照发表时间排序</a>
      </li>
    </ul>
  </div>
  <table class="table table-hover">
    <thead>
      <br>
      <br>
      <br>
      <tr>
        <td>职缺</td>
        <td>工作城市</td>
        <td>薪资下限</td>
        <td>薪资上限</td>
        <td>刊登时间</td>
      </tr>
    <tbody>
      <% @jobs.each do |job| %>
         <tr>
           <td><%= link_to(job.title, job_path(job)) %></td>
           <td><%= link_to(job.city, job_path(job)) %></td>
           <td><%= link_to(job.wage_lower_bound, job_path(job)) %></td>
           <td><%= link_to(job.wage_upper_bound, job_path(job)) %></td>
           <td><%= job.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
